<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>


<img class="banner" width="2000px" src="/img/banner.png" alt="BANNER">


<!-- inserir fotos   -->


<div class="conteudo card-group ">
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots1.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Charge </a></p>
        <p class="cardesTXTVL fw-bold"> 5,00 </p>
            <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots2.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Chocolate Branco </a></p>
        <p class="cardesTXTVL fw-bold"> 6,00 </p>
        <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots3.webp" alt="">
        <p><a class="cardesTXT fw-bold">  Donuts Tradicional </a></p>
        <p class="cardesTXTVL fw-bold"> 5,00 </p>
         <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div class="card-body">
        <img class="imgcard" width="300px" src="./img/donots4.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Biz Branco </a></p>
        <p class="cardesTXTVL fw-bold"> 5,00 </p>
        <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  </div>
  </div>
  
  <div class="conteudo card-group ">
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots5.webp" alt="">
        <p ><a class="cardesTXT fw-bold"> Donuts de Marshmallow </a></p>
        <p class="cardesTXTVL fw-bold"> 5,00 </p>
        <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots7.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Kit Kat </a></p>
        <p class="cardesTXTVL fw-bold"> 6,00 </p>
        <a href="/pedidos" class="cardesBTN btn ">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots6.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Sensação </a></p>
        <p class="cardesTXTVL fw-bold"> 6,00 </p>
         <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div class="card-body">
        <img class="imgcard" width="300px" src="./img/donots8.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Banoffee </a></p>
        <p class="cardesTXTVL fw-bold"> 5,00 </p>
        <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  </div>
  </div>
  
  <div class="conteudo card-group ">
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots9.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Romeu e Julieta </a></p>
        <p class="cardesTXTVL fw-bold"> 5,00 </p>
        <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots10.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Maracuja </a></p>
        <p class="cardesTXTVL fw-bold"> 5,00 </p>
        <a href="/pedidos" class="cardesBTN btn ">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div>
        <img class="imgcard" width="300px" src="./img/donots14.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Ovomaltine </a></p>
        <p class="cardesTXTVL fw-bold"> 5,00 </p>
         <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
  
    <div class="cardes" style="width: 20rem;">
      <div class="card-body">
        <img class="imgcard" width="300px" src="./img/donots12.webp" alt="">
        <p><a class="cardesTXT fw-bold"> Donuts de Limão </a></p>
        <p class="cardesTXTVL fw-bold"> 4,00 </p>
        <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
      </div>
    </div>
   </div>
  </div>
</div>
    
<%- include ('partials/footer.ejs') %>
