<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<header class="banner">
    <img width="2000px" src="/img/banner.png" alt="BANNER">
</header>

          <div class="conteudo card-group ">
            <div class="cardes" style="width: 20rem;">
              <div>
                <img class="imgcard" width="300px" src="./img/donots1.webp" alt="">
                <p class="cardesTXT fw-bold">Donuts de Charge</p>
                <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
              </div>
            </div>
        
            <div class="cardes" style="width: 20rem;">
              <div>
                <img class="imgcard" width="300px" src="./img/donots2.webp" alt="">
                <p class="cardesTXT fw-bold">Donuts de Chocolate Branco</p>
                <a href="/pedidos" class="cardesBTN btn ">Adicionar ao Carrinho</a>
              </div>
            </div>
        
            <div class="cardes" style="width: 20rem;">
              <div>
                <img class="imgcard" width="300px" src="./img/donots3.webp" alt="">
                <p class="fw-bold cardesTXT">Donuts Tradicional</p>
                <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
              </div>
            </div>
        
            <div class="cardes" style="width: 20rem;">
              <div class="card-body">
                <img class="imgcard" width="300px" src="./img/donots6.webp" alt="">
                <p class="cardesTXT fw-bold">Donuts de Sensação</p>
                <a href="/pedidos" class="cardesBTN btn">Adicionar ao Carrinho</a>
              </div>
            </div>
          </div>
         </div>
 

<%- include ('partials/footer.ejs') %>