<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>


<div class="fundo">
<div class="" style="width: 18rem;">
    <img class="imgPerfil" width="800px" src="/img/perfilFT.png" alt="">
    <div class="card-body">
      <h5 class="card-title txtPerfil">Diego_prof</h5>
    </div>
    <ul class="imgIcones list-group list-group-flush">
        <a class="nav-link" href="/pedidos"><img class="imgIcone2" width="30px" src="/img/iconCarrinhoi.png" alt=""> </a>

      <li class="txtPerfil">diego@diego</li>
    </ul>
    
  </div>
</div>



<%- include ('partials/footer.ejs') %>